# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Uploads (backend)
# Committing current uploads to keep seed images on Render


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
