.food-display {
    margin-top: 30px;
}

.food-display h1 {
    font-size: 2vw;
    font-weight: 600;
    color: #c70e1c;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}